<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <php>
        <env name="BASE_URL" value="https://demo.fotoware.com"/>
        <env name="FULLAPI_KEY" value="UHDuXw"/>
        <env name="ARCHIVE_HREF" value="/fotoweb/archives/5013-Demo%20assets"/>
        <env name="ASSET_LIST_HREF" value="/fotoweb/archives/5013-Demo%20assets"/>
        <env name="ASSET_HREF" value="/fotoweb/archives/5013-Demo%20assets/Artwork/Coffee%20from%20DAM/240x400.jpg.info"/>
    </php>
    <testsuites>
        <testsuite name="Fotweb PHP SDK Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
