name: CI
on:
  - push
  - pull_request

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        php: ['7.4', '8.0', '8.1', '8.2']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: composer update --no-interaction --no-progress

      - name: Run tests
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
          FULLAPI_KEY: ${{ secrets.FULLAPI_KEY }}
          ARCHIVE_HREF: ${{ secrets.ARCHIVE_HREF }}
          ASSET_LIST_HREF: ${{ secrets.ASSET_LIST_HREF }}
          ASSET_HREF: ${{ secrets.ASSET_HREF }}
        run: vendor/bin/phpunit
